h1 {
  text-align: center;
  font-size: 36pt;
}
.mainTitleDiv {
  /* display: inline-block; */
  width: 60%;
  float: left;
  font-family: sans-serif;
}
.titleAnchor {
  text-decoration: none;
}
hr {
  margin: 0px 60px 20px 60px;
}
.divider {
  width: 100%;
  display: inline-block;
}
h2 {
  text-align: center;
  font-size: 24pt;
}
small {
  font-size: smaller;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.zoomed-image {
  background-size: cover;
  cursor: pointer;
}
.indented{
  text-indent: 70px;
}
.embeddedLi {
  text-indent: 100px;
}
.noIndent{
  text-indent: 0px;
  border-radius: 5px;

}
span{
  overflow-y: scroll;
}
a{
  font-size: 16pt;
  font-weight: bold;
  color: black;
}
.tileImg{
  padding: 10px;
  border-radius: 10%;
  float: left;
  text-align: left;
  background-color: #000000;
  width: 40%;
  transition: all .5s ease-in-out;
  margin: 20px;
}
.menuImg:hover, .homeIcon:hover {
  transform: scale(1.1);
}
.galleryPic{
  border-radius: 2%;
  width: 50%;
}
.li {
  list-style-type: lower-alpha;
}
#detailsDiv {
  /* display: inline-block;  */
  padding: 20px;
  margin-left: 30px;
}
.menu {
  height: 100px;
  width: 30%;
  float: right;
  padding-bottom:40px;
}
.prev, .next, .home { 
  position: inline-block;
  float: left;
  width:30%;
  height: 20px;
  font-family: sans-serif;
  text-align: center;

}
.prevAnchor, .nextAnchor, .homeAnchor {
  font-size: 12pt;
}
/* #next {
  position: inline-block;
  float: right;
  height: 20px;
}
#home {
  position: inline-block;
  float: center;
  height: 20px;
} */
.menuImg {
  height: 60px;
  padding: 5px;
  border-radius: 10%;
  background-color: #000000;
  transition: all .2s ease-in-out;
}
.homeIcon {
  height: 70px;
  transition: all .2s ease-in-out;
}
.menuImg, .homeIcon {
  margin: 20px 20px 0px 20px;
}
#footer {
  margin-bottom: 30px;
}


  